body::-webkit-scrollbar{
	width:7px;
	background: #f2f2f2;
}
body::-webkit-scrollbar-thumb{
	background: rgba(0,0,0,.5);
	border-radius: 5px;
	border-left: 2px solid #fff;
}
body{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo{
  width: 90%;
  margin:-120px auto 40px auto;
}
.todo p{
  text-align: justify;
  font-size: 20px;
}
.todo h2{
  font-size: 30px;
}
.titulo{
  z-index:100;
  position: relative;
  top:-200px;
  width: 700px;
  margin:auto;
}
img{
  width:100%;
}
h1{
  font-size: 60px;
  background: white;
  padding: 5px;
}
