body{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.raya{
  width: 100%;
  height: 8px;
  background: linear-gradient(to right, #103557 0%, #4de9dc 100%);
  border-radius: 25px;
  margin: 10px 0px 30px 0px;
}
.todo{
  width: 80%;
  margin:120px auto 90px auto;
}
.todo>p, .todo h2{
  width: 95%;
  margin:auto;
}
.todo p{
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
}
h1{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}
h2, h3{
  font-size: 25px;
  font-weight: 700;
}
.part1, .part, .part2, .part3{
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  margin:auto;
  align-items: center;
}
.part img{
  width:25%;
  height: 100%;
  padding-left: 20px;
}
.part2 img {
  padding: 0 35px;
  width:15%;
  height: 100%;
}
.part1 img{
  width: 28%;
  height: 100%;
}
.part3 img {
  padding: 0 35px;
  width:30%;
  height: 100%;
}
.aparte{
  visibility: hidden;
  font-size: 0;
  height: 0;
}
footer{
  width:100%;
  background: #D9E5ED;
  font-family: 'Montserrat',sans-serif;
  position: relative;
  z-index: 2000;
}
@media only screen and (max-width: 1024px){
  .part2 img{
    padding: 12px;
  }
  .part3 img, .part img{
    padding: 0px;
  }
  .differ{
    width: 100%;
  }
}
@media only screen and (max-width: 800px){
  .part img{
    visibility: hidden;
    width: 0;
  }
  .todo p{
    font-size: 16px;
  }
  h1{
    font-size: 25px;
  }
  h2, h3{
    font-size: 20px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 500px){
  .todo>p, .part, .part2, .part3{
    width: 100%;
  }
  .todo p{
    font-size: 14px;
  }
  .todo{
    width: 75%;
    margin-bottom: 30px;
    margin-top: 100px;
  }
  h1{
    font-size: 20px;
  }
  h2, h3{
    font-size: 16px;
  }
  .raya{
    height: 5px;
  }
  .part2 img {
    width:20%;
    padding: 0;
  }
  .otro{
    visibility: hidden;
    font-size: 0px;
    height: 0;
  }
  .aparte{
    position: relative;
    visibility: visible;
    top: -20px;
    height: auto;
  }
}
